<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="tpp" ng-cloak >

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Third Party Hub</title>
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/css/common-lib.min.css'}">
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/css/common.min.css'}">
<link rel="shortcut icon" type="image/x-icon" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/images/favicon.ico'}" type="image/icon">
<link rel="icon" type="image/x-icon" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/images/favicon.ico'}" type="image/icon">
<link rel="apple-touch-icon" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/images/apple-icon.png'}">
<noscript>
   Please enable Javascript on your browser to use this application.
</noscript>
<script th:inline="javascript">
    window.uiStaticContent = /*[[${uiStaticContent}]]*/ null;
</script> 

</head>

<body block-ui="main">
	<input type="hidden" name="logoutURL" id="logoutURL" th:value="${logoutURL}">
	<input type="hidden" name="userName" id="userName" th:value="${username}">
	<!-- <input type="hidden" name="samlattruibutes" id="samlattruibutes" th:value="${samlAttributes['given_name']}"> -->
	<input type="hidden" name="cdnBaseURL" id="cdnBaseURL" th:value="${@environment.getProperty('cdn.baseURL')}">
	<input type="hidden" name="tppList" id="tppList" th:value="${tppNameList}">
	<input type="hidden" name="error" id="error" th:value="${error}">
	<input type="hidden" name="corelationId" id="corelationId" th:value="${corelationId}">
	<input type="hidden" name="isAuthorized" id="isAuthorized" th:value="${isAuthorized}">
	<div class="main-container">


	<div ui-view autoscroll="false"></div>

	</div>
	<!--footer end -->
    <!-- <script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/js/libs.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/js/templates.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/tppportal/js/app.js'}"></script>  -->
	

		<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/tppportal/js/libs.min.js'"
		th:attr="integrity='sha256-'+${@environment.getProperty('cdn.libsHashCode')}"
		crossorigin="anonymous"></script>
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/tppportal/js/templates.min.js'"
		th:attr="integrity='sha256-'+ ${@environment.getProperty('cdn.templateHashCode')}"
		crossorigin="anonymous"></script>
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/tppportal/js/app.min.js'"
		th:attr="integrity='sha256-'+ ${@environment.getProperty('cdn.appHashCode')}"
		crossorigin="anonymous"></script> 
</body>
</html>