/* Fonts start*/

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/open-sans/Bold/OpenSans-Bold.ttf);
    src: url(../fonts/open-sans/Bold/OpenSans-Bold.woff) format('woff'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/open-sans/Italic/OpenSans-Italic.ttf);
    src: url(../fonts/open-sans/Italic/OpenSans-Italic.woff) format('woff'), url(../fonts/open-sans/Italic/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/open-sans/Light/OpenSans-Light.ttf);
    src: url(../fonts/open-sans/Light/OpenSans-Light.woff) format('woff'), url(../fonts/open-sans/Light/OpenSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/open-sans/Regular/OpenSans-Regular.ttf);
    src: url(../fonts/open-sans/Regular/OpenSans-Regular.woff) format('woff'), url(../fonts/open-sans/Regular/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/open-sans/Semibold/OpenSans-Semibold.ttf);
    src: url(../fonts/open-sans/Semibold/OpenSans-Semibold.woff) format('woff'), url(../fonts/open-sans/Semibold/OpenSans-Semibold.ttf) format('truetype');
}


/* Fonts End*/


html {
    height: 100%;
}

body {
    background-color: #EFF3F6;
    font-family: OpenSans-Regular;
    font-size: 14px;
    height: 100%;
}

.page-container {
    background-color: #F2F2F2;
}

strong,
b {
    font-family: OpenSans-Semibold;
}


/*header start*/

header {
    background:#00527D;
    border-bottom: 0;
    color: #FFFFFF;
}
.brand-details {
    height: 100px;
}
.navbar-brand {
    padding: 38px 0 0;
}
.portal-details {
    float: right;
    color: #FFFFFF;
    font-family: OpenSans-Regular;
    font-size: 36px;
    margin: 0;
    padding: 29px 0 10px;
    text-align: right;
}
.nav {
    float: right;
}
.navbar {
    margin-bottom: 0;
    background-color: #053659;
    height: 59px;
}
.navbar ul li {
    margin-right: 20px;
}
.navbar ul li:before{
	content:initial;
}

.navbar ul li a {
    font-family: 'OpenSans-Semibold';
    font-size: 16px;
    color: #FAFAFA;
	padding:15px 0;
}

.navbar ul li:last-child {
    margin-right: 0;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border: none;
}
/* .dropdown.open{
	background: #FAFAFA;
} */

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: none;
}
.nav>li>a:hover {
    border-bottom: 10px solid #FAFAFA;
}

/*header end */

/*footer start*/

footer {
    background-color: #FFFFFF;
    margin: 0;
    width: 100%;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.footer-links {
    padding-top: 26px;
    text-align: right;
    margin: 0;
    list-style: none;
}

.footer-links li {
    display: inline-block;
}

.footer-links a,
.footer-links a:hover,
.footer-links a:active,
.footer-links a:focus {
    font-family: OpenSans-Regular;
    color: #666666;
    font-size: 12px;
}

.pipe {
    padding: 0 5px;
}

.regulatory-statement {
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #12779A;
    letter-spacing: 0.7px;
    padding-top: 63px;
    padding-bottom: 70px;
    margin: 0;
}

/*footer ends*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #616365 !important;
  background-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s !important;
}