.bg-color {
	background-color:#b6ebf0;
}

.tabbed-right {
    color: #fff;
    background-color:#5fbfff;
    border-color:#5fbfff;
    float: right !important;
    border-radius: 0px;
    padding: 7px 24px;
}

.ssam-title {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	float: left !important;
}

.pad-align {
	padding: 0px 20px;
}
