        .cookie-error, .no-display-disabled-cookie-js{
            display: none;
        }
        .alert-suffix{
            word-wrap: break-word;
        }
		.already-registered{
			font-family:'OpenSans-Regular';
            font-style: normal;
	        font-variant: normal;
            color: #616365;
			font-size: 16px;
		}
		.signup-banner{
			font-family: 'OpenSans-Regular';
            font-size: 14px;
            color: #616365;
            margin-bottom: 15px;
        }
        .terms-of-use-link>a {
            color: #616365;
            text-decoration: underline;
        }          
       .tooltip-cust{
            color: #616365;
            font-size: 14px;
            font-family: 'OpenSans-Regular';
            margin-left: 6px;
            text-transform: none;
            cursor: default;
        }
        .tooltip.in{
            opacity:1;
        }
        .tooltip.right {
            background: none;
            border-radius: 2px;
        }
        .tooltip-inner {
            background-color:#616365;
            color:#ffffff;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
            border-radius: 2px;
            padding: 12px;
            font-family: 'OpenSans-Regular';
            font-size: 14px;
            text-align: left;
            width: 180px;
            opacity: 1 !important;
        }
        .tooltip-arrow{
            color:#616365 !important;
            border-right-color: #616365 !important;
            opacity: 1 !important;
        }
        input[type="checkbox"]{
            margin: 3px 0 0;
        }
        .checkbox {
            padding-left: 20px;
            margin-top: 18px;
            margin-bottom: 22px;
        }
        .checkbox label {
              display: inline-block;
              font-weight: inherit;
              position: relative;
              padding-left: 0px; 
              cursor: default;
        }
        .checkbox label::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                margin-left: -22px;
                border: 1px solid #979797;
                background-color: #fff;
                margin-top:0;
        }
        .checkbox label::after {
                display: inline-block;
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                top: 1px;
                margin-left: -22px;
                padding-left: 2px;
                padding-top: 1px;
                font-size: 11px;
                background-color: #616365;
                color: #ffffff;
                margin-top:0;
        }
        .checkbox input[type="checkbox"]:focus+label::before {
			outline-offset: 0px;
            outline: -webkit-focus-ring-color auto 5px;
            border:1px solid #1485ac;
		} 
        .checkbox input[type="checkbox"]:checked + label::after {
                font-family: 'FontAwesome';
                content: "\f00c"; 
        }