#if($passwordRequirements.size() > 0)
  <div class="ptm">
    <a id="requirements_link" data-toggle="collapse" href="#password_requirements_list" aria-expanded="true" aria-controls="password_requirements_list">Show Requirements</a>
  </div>
  ## begin password requirements well
  <div id="password_requirements_list" class="collapse out">
    <div class="well well-sm">
      <ul>
      #foreach( $requirement in $passwordRequirements )
        <li>$requirement.description</li>
      #end
      </ul>
    </div>
  </div>
#end