<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Service Account Manager - Error</title>
    <link href="$settings.cdnBaseURL/ssam/css/bootstrap.min.css" rel="stylesheet">
    <link href="$settings.cdnBaseURL/ssam/css/ssam.css" rel="stylesheet">
    <link href="$settings.cdnBaseURL/ssam/images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    #parse("_nav.vm")
    <div class="container">
      Something went wrong: $!status $error
    </div>
  </body>
</html>