<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Service Account Manager - Change Password</title>
    <link href="$settings.cdnBaseURL/ssam/css/bootstrap.min.css" rel="stylesheet">
    <link href="$settings.cdnBaseURL/ssam/css/ssam.css" rel="stylesheet">
    <link href="$settings.cdnBaseURL/ssam/images/favicon.ico" rel="shortcut icon">
  </head>
  <body class="main-body">
    #parse("_nav.vm")
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
          <div class="panel-body">
            <div id="errorAlerts">
              #if($recaptchaError)
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  Something is wrong with the reCAPTCHA response. Please try again.
                </div>
              #end
            </div>
            <form action="recoverPassword" method="POST">
              <h4>Enter Account Information</h4>
              <p>To start the process of changing your password, enter the email address or phone number associated with your account.</p>
              <input type="hidden" name="$_csrf.parameterName" value="$_csrf.token" />
              <div class="form-group">
                <label for="identifier" class="control-label required">Account Information</label>
                <div class="row">
                  <div class="col-md-7">
                    <input id="identifier" type="text" class="form-control" name="identifier" placeholder="Email Address or Phone Number Associated with Account" value="$!identifier" tabindex="1" required>
                  </div>
                </div>
              </div>
              <div class="mvm">
                #if ($settings.isRecaptchaEnabled())
                  <div name="g-recaptcha-response" class="g-recaptcha" data-sitekey="$settings.getRecaptchaSiteKey()"></div>
                #end
              </div>
              <div class="form-group">
                <button id="submitButton" type="button" class="btn btn-primary" tabindex="3">Continue</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="$settings.cdnBaseURL/ssam/js/jquery-2.1.4.min.js"></script>
    <script src="$settings.cdnBaseURL/ssam/js/bootstrap.min.js"></script>
    <script src="$settings.cdnBaseURL/ssam/js/ssam.js"></script>
    ## reCAPTCHA script
    #if ($settings.isRecaptchaEnabled())
      <script src="https://www.google.com/recaptcha/api.js"></script>
    #end
    <script type="text/javascript">
      $(document).ready(function() {
        $("#identifier").focus();
        $("#submitButton").click(function(e) {
          e.preventDefault();
          if (verifyRequiredInputs($("form"), $("#errorAlerts"))) {
            $("form").submit();
          }
        });
      });
    </script>
  </body>
</html>
