<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Hub</title>
    <link href="$settings.cdnBaseURL/ssam/images/favicon.ico" rel="shortcut icon">
    <link href="$settings.cdnBaseURL/ssam/css/common.min.css" rel="stylesheet">
		<link href="$settings.cdnBaseURL/ssam/css/main.min.css" rel="stylesheet">
  </head>
  <body class="bg">
	<div class="main-container">
	<div>
		#parse("_nav.vm")
	</div >
    <div class="container container-margin">
		<div class="row">
    <div class="col-md-12">
              <div class="alert portals-alert portals-alert-danger col-xs-12 col-sm-12 col-md-12">
                            <p>
                                <span class="alert-prefix">Error:</span>
                                <span class="alert-suffix text-link bank-link" id="formErrorMsg">Failed to verify your link because the link is either expired or invalid.</span>
                            </p>
              </div>
    </div>
        <div class="col-md-6 offset-md-3">
				<h2 class="form-header">
						Verify activation link
				</h2>
          			<div class="form-container">
            		<div class="signup-banner">You may request for a fresh activation link to resent.</div>

						<form action="" method="POST">
							<div class="row">
                 				<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token" />
                        <input type="hidden" id="formErrorCode" value="$error">
                  			<input type="hidden" name="code" id="code">
                        <input id="emailId" type="hidden" name="emailId" value="$recipientID">
                        <input type="hidden" id="status" value="$status">
                        <input type="hidden" id="devportalHost" name="devportalHost" value="$settings.devportalHost">
								  <div class="col-md-6">
									<!--<a class="btn btn-default allow allow pull-left" href="$settings.devportalHost" role="button" tabindex="2" style="color: #3ea0d1">Cancel</a>-->
								  </div>
								  <div class="col-md-6">
									<button type="button" id="resendCodeButton" onclick="resendPageRedirect()" class="btn btn-submit float-right">
                  Resend activation link
                  </button>
								  </div>
							</div>
              			</form>
					</div>
        	</div>
      	</div>
    </div>
    <footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<ul class="footer-links">
							<li>
								<a href="$settings.bankCookiePrivacyPolicyURL" onmousedown="(event.which==1)?window.open(this.href,'_blank'):false;" onclick="window.open(this.href,'_blank');return false;">
									<span  title="Link will open in a new window.">Cookie &amp; Privacy policy</span>
									<span class="sr-only" aria-label=" Link will open in a new window"></span>
								</a>
								<span class="pipe">|</span>
							</li>
							<li>
								<a href="$settings.bankTermsOfServiceURL" onmousedown="(event.which==1)?window.open(this.href,'_blank'):false;" onclick="window.open(this.href,'_blank');return false;">
									<span  title="Link will open in a new window.">Terms of use</span>
									<span class="sr-only" aria-label=" Link will open in a new window"></span>
								</a>
								<span class="pipe">|</span>
							</li>
							<li>
								<a href="$settings.bankHelpURL" onmousedown="(event.which==1)?window.open(this.href,'_blank'):false;" onclick="window.open(this.href,'_blank');return false;">
									<span  title="Link will open in a new window.">Help</span>
									<span class="sr-only" aria-label=" Link will open in a new window"></span>
								</a>
							</li>
            </ul>

					</div>
				</div>

				<p class="regulatory-statement">Bank of Ireland is regulated by the Central Bank of Ireland. Bank of Ireland (UK) plc is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.</p>

			</div>
		</footer>
</div>

<div style="" id="loadingDiv"><div class="loader"></div></div>
<!--
<div class="modal fade" id="RegistrationSuccess" tabindex="-1" role="dialog" aria-labelledby="RegistrationSuccessLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="RegistrationSuccessLabel">Registration</h4>
     </div>
      <div class="modal-body text-center">
        <p>Your Request has been submitted successfully.</p>
        <p class="modal-body-para">An activation link has been sent to your registered email address, follow the instructions to complete registration.</p>
			
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn devportal-button success btn-block" onclick="GoHome()">OK</button>
      </div>
    </div>
  </div>
</div>
-->
   <script integrity="$settings.cdnLibsHashCode" crossorigin="anonymous" src="$settings.cdnBaseURL/ssam/js/libs.min.js"></script>
   <script integrity="$settings.cdnAppHashCode" crossorigin="anonymous" src="$settings.cdnBaseURL/ssam/js/app.min.js"></script>
    <script type="text/javascript">

		function GoHome(){
			window.location.href = $("#devportalHost").val();
		}

    function resendPageRedirect(){
			window.location.href = "resendRegistrationLink";
		}
    $('.skip-main').on('click',function(event){
                event.preventDefault();
                $('#resendCodeButton').focus();
    });
      
      $(document).ready(function() {

        var formErrorMsg="Your account activation link has expired or is invalid.";
				if($("#formErrorCode").val() == "SSAM_ACTVN_LINK_EXPIRED")
					formErrorMsg = "Your account activation link has expired or is invalid.";
          
				if(formErrorMsg !== "")
					$("#formErrorMsg").html(formErrorMsg);
				
      });
    </script>
  </body>
</html>