<input type="hidden" name="logoutURL" id="logoutURL" value="'http://localhost:9876/logout">
<input type="hidden" name="muleLaunchURL" id="muleLaunchURL" value="http://localhost:9876/muleLaunch">
<input type="hidden" name="bankHelpURL" id="bankHelpURL" th:value="${@environment.getProperty('bank.helpURL')}">
<input type="hidden" name="userName" id="userName" th:value="${username}">
<input type="hidden" name="userType" id="userType" value="support">

<div class="main-container">
    <div ui-view autoscroll="false"></div>
</div>