<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Developer Hub</title>
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/css/common-lib.min.css'}">
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/css/main.min.css'}">
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/css/common.min.css'}">
    <noscript>
        Please enable Javascript on your browser to use this application.
    </noscript>
</head>

<body>
	<input type="hidden" name="bankHelpURL" id="bankHelpURL" th:value="${@environment.getProperty('bank.helpURL')}">
	<input type="hidden" name="cdnBaseURL" id="cdnBaseURL" th:value="${@environment.getProperty('cdn.baseURL')}">
	<input type="hidden" name="muleLaunchURL" id="muleLaunchURL" th:value="${muleLaunchURL}">
	<input type="hidden" name="mulePublicLaunchURL" id="mulePublicLaunchURL" th:value="${mulePublicLaunchURL}" >
	<input type="hidden" name="portalBaseURL" id="portalBaseURL" th:value="${portalBaseURL}" >
	<input type="hidden" name="errorMessage" id="errorMessage" th:value="${errorMessage}">
    <div class="main-container">
    <header>
        <div class="header-container">
            <div class="container">
                <div class="brand-details">
                    <img class="navbar-brand float-left" title="Bank of Ireland logo" alt="Bank of Ireland logo" th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/img/boi_logo.svg'}" />
                	<h1 class="portal-details">Developer Hub</h1>           
                </div>
            </div>
        </div>
        <!--Navigation-->
        <nav class="navbar">
            <div class="container">
                <ul class="nav navbar-nav nav-menu navbar-expand-sm ml-auto">
                	<li><a target="_blank" th:href="${portalBaseURL}">Overview</a></li>
                	 <li><a target="_blank" th:href="${mulePublicLaunchURL}">API Documentation</a></li>
                	  <li><a target="_blank" href="https://www.bankofireland.com/thirdpartyandeveloperhub/help">FAQ</a></li>
                    <li><a target="_blank" th:href="${@environment.getProperty('bank.helpURL')}">Help</a></li>
                </ul>
            </div>
        </nav>
        <!--Navigation Ends-->

    </header>
    <div class="container container-margin">
        <div class="alert portals-alert portals-alert-danger col-xs-12 col-sm-12 col-md-12" role="alert" aria-atomic="true">
           <p th:if="${errorMessage}">
              <span class="alert-prefix">Error:</span>
              <span class="alert-suffix">Unable to process your request. Please try again later.</span>
           </p>
           <!-- ELSE -->
           <p th:unless="${errorMessage}">
              <span class="alert-prefix">Error:</span>
              <span class="alert-suffix">Unable to process your request. Please try again later.</span>
           </p>
        </div>
	</div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 nopadding">
                    <ul class="footer-links">

                        <li><a href="#">Cookie & Privacy policy </a><span class="pipe">|</span></li>
                        <li><a href="#">  Terms of use </a><span class="pipe">|</span></li>
                        <li><a href="#">  Help </a></li>
                    </ul>
                </div>
            </div>

            <p class="regulatory-statement">&#169; 2019 Bank of Ireland
            </p>

        </div>
    </footer>
    
    
</div>

	<!-- <script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/libs.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/templates.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/app.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/FormValidation.js'}"></script> 
	-->
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/libs.min.js'"
		th:attr="integrity=${@environment.getProperty('cdn.libsHashCode')}"
		crossorigin="anonymous"></script>
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/templates.min.js'"
		th:attr="integrity=${@environment.getProperty('cdn.templateHashCode')}"
		crossorigin="anonymous"></script>
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/app.min.js'"
		th:attr="integrity=${@environment.getProperty('cdn.appHashCode')}"
		crossorigin="anonymous"></script> 
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/FormValidation.js'"
		th:attr="integrity=${@environment.getProperty('cdn.formvalidationHashCode')}"
		crossorigin="anonymous"></script> 
		
</body>

</html>