<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="developerHub" ng-cloak >

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Developer Hub</title>
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/css/common-lib.min.css'}">
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/css/common.min.css'}">
<link rel="stylesheet" th:href="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/css/main.min.css'}">
<noscript>
   Please enable Javascript on your browser to use this application.
</noscript>

<script th:inline="javascript">
        /*<![CDATA[*/
          var logoutURL = /*[[${logoutURL}]]*/ ;
         var muleLaunchURL = /*[[${muleLaunchURL}]]*/ ;
         var userType = /*[[${userType}]]*/ ;
        /*]]>*/
		
        function idpLogout() {
            window.location.href = logoutURL;
        }

        function launchMule() {
            window.open(muleLaunchURL, '_blank');
        }
    </script>

</head>

<body block-ui="main">
	<input type="hidden" name="logoutURL" id="logoutURL" th:value="${logoutURL}">
	<input type="hidden" name="muleLaunchURL" id="muleLaunchURL" th:value="${muleLaunchURL}">
	<input type="hidden" name="bankHelpURL" id="bankHelpURL" th:value="${@environment.getProperty('bank.helpURL')}">
	<input type="hidden" name="cdnBaseURL" id="cdnBaseURL" th:value="${@environment.getProperty('cdn.baseURL')}">
	<input type="hidden" name="userName" id="userName" th:value="${username}">
	<input type="hidden" name="emailId" id="emailId" th:value="${emailId}">
	<input type="hidden" name="userType" id="userType" th:value="${userType}">
	<input type="hidden" name="TPPPortalURL" id="TPPPortalURL" th:value="${TPPPortalURL}">
	<input type="hidden" name="isBlockedApis" id="isBlockedApis" th:value="${isBlockedApis}" >
	<input type="hidden" name="mulePublicLaunchURL" id="mulePublicLaunchURL" th:value="${mulePublicLaunchURL}" >
	<input type="hidden" name="portalBaseURL" id="portalBaseURL" th:value="${portalBaseURL}" >
	<div class="main-container">


	<div ui-view autoscroll="false"></div>

	</div>
	<!--footer end -->
	<!--
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/libs.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/templates.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/app.min.js'}"></script>
	<script th:src="@{${@environment.getProperty('cdn.baseURL')} + '/devportal/js/FormValidation.js'}"></script> 
	 -->
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/libs.min.js'"
		th:attr="integrity=${@environment.getProperty('cdn.libsHashCode')}"
		crossorigin="anonymous"></script>
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/templates.min.js'"
		th:attr="integrity=${@environment.getProperty('cdn.templateHashCode')}"
		crossorigin="anonymous"></script>
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/app.min.js'"
		th:attr="integrity=${@environment.getProperty('cdn.appHashCode')}"
		crossorigin="anonymous"></script> 
	<script
		th:src="${@environment.getProperty('cdn.baseURL')} + '/devportal/js/FormValidation.js'"
		th:attr="integrity=${@environment.getProperty('cdn.formvalidationHashCode')}"
		crossorigin="anonymous"></script> 	  
		
 
</body>
</html>