.col_center{
    margin: 0 auto;
}
.form_container{
    width:100%; 
    color:#000000; 
    border:1px solid #979797;
    padding:20px;
    margin-top:32px;
    box-shadow: 0px 2px 4px 0px #000000;
}