.cookie-error, .no-display-disabled-cookie-js, .invalid-credentials, .server-error{
    display: none;
}
.container>.error-bottom-none{
    margin-bottom: 0;
}
div.login-title{
    font-family:'OpenSans-Regular';
    font-style: normal;
    font-variant: normal;
    color: #053c59;
    font-size: 20px;
    text-align: left;
}
.forgot-link-top>a{
    display: inline-block;
    margin-top: 5px;
}
.welcm-header{
    font-size: 20px;
    color: #053c59;
    font-family: 'OpenSans-Regular';
    margin-bottom: 15px;
}
p.welcm-content{
    color: #616365;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
}
.form-title{
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    color: #616365;
    margin-bottom: 15px;
}