/* section style start */

.intro-section {
  background-color: #FAFAFA;
}

.intro-section .container {
  padding: 34px 15px;
}

.intro-section h2 {
  font-size: 36px;
  font-family: 'OpenSans-Semibold';
  color: #424445;
  margin-bottom: 37px;
}

.intro-section h3 {
  font-size: 18px;
  font-family: 'OpenSans-Semibold';
  color: #424445;
  margin-bottom: 10px;
}

div.info p {
  margin-bottom: 24px;
  font-size: 18px;
  font-family: 'OpenSans-Regular';
  color: #424445;
}

/* .intro-section .col-sm-6:last-child {
    border-left: 1px solid #58BEDB;
} */

.test-details {
  background-color: #F2F2F2;
  box-shadow: 0 0 8px 0 #000000;
  color: #000000;
  padding: 33px 0 40px;
}

.test-details .row {
  margin: 38px 0 0 0;
}

.test-details .col-sm-4 {
  text-align: center;
}

.test-details h3 {
  font-family: 'OpenSans-Semibold';
  font-size: 28px;
  Color: #053C59;
  padding-bottom: 3px;
}

.test-details h4 {
  font-family: 'OpenSans-Semibold';
  font-size: 18px;
  Color: #053C59;
  margin: 13px 0 15px;
}

.test-details p {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #053C59;
  margin: 0;
}

hr {
  border-top: 2px solid #58BEDB;
  margin: 49px 0 45px;
}

.testing-steps {
  display: block;
}

.testing-steps span {
  background: #3ea0d1;
  border-radius: 50%;
  color: #FFFFFF;
  height: 78px;
  width: 78px;
  padding: 10px;
}

a.link {
  color: #12779A;
}

a.link:focus,
a.link:hover {
  color: #12779A;
}

/* popup */

.modal-content .pop-confirm-header button {
  font-size: 18px;
  margin-top: 20px;
}

.modal-content {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.50);
  border: 0;
  border-radius: 0;
}

.modal-header {
  background: #107FAB;
  border-bottom: 0;
  line-height: 60px;
  /* padding: 20px; */
}

.modal-header-session {
  background: #DE1D50;
  border-bottom: 0;
  line-height: 60px;
  /* padding: 20px; */
}

.modal-header .title,
.modal-header-session .title {
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #FFFFFF;
}

.modal-footer {
  border: 0;
  padding: 20px 0 0;
}

.modal-footer .btn+.btn {
  margin-left: 0;
}

.horizontal-rule {
  border-bottom: 1px #747678 solid;
  margin: 0 20px;
}

.fade {
  background: rgba(0, 0, 0, 0.60);
}

.btn-session {
  background-color: #DE1D50;
  height: 38px;
  font-family: 'OpenSans-Semibold';
  font-size: 16px;
  float: right;
  vertical-align: middle;
  color: #fff;
}

.btn-session:hover,
.btn-session:focus,
.btn-session:active {
  color: #fff;
}

/* change password error */

.change-password-form .alert {
  margin-bottom: 20px;
}